/* Objects
==================================
--- Footer
------------------------------ */

.site-footer {
    background: $brand_primary;
    color: $brand_secondary;
    padding: 0.5rem 0;
    width: 100%;
}

.site-footer a {
    color: $brand_secondary;
}

.footer__address {
    font-size: 1rem;
}