/* Objects
==================================
--- Layout
------------------------------ */

html, body {
    height: 100%;
}

body {
    background: $bg_color;
    font-size: $base_font_size;
    font-family: $paragraph_font_family;
    line-height: 1.4;

    @include breakpoint('small') {
        background: $bg_color url('../img/bg.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    @include breakpoint('medium') {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.site-main {
    flex: 1;
    padding: 1rem 0 3rem;
    width: 100%;
}