/* Objects
==================================
--- Header
------------------------------ */

.site-header {
    font-size: 3rem;
    text-align: center;
    width: 100%;

    &__logo {
        margin: 1rem 0 0;

        .svg-logo {
            width: 200px;
        }
    }

    &__title {
        margin: 2rem;

         @include breakpoint('large') {
            margin: 1rem 0 2rem;
        }

        .svg-logo {
             width: 300px;
            
            @include breakpoint('small') {
                width: 500px;
            }
        }
    }
}