/* Objects
==================================
--- Layout
------------------------------ */

html, body {
    height: 100%;
}

body {
    align-items: center;
    background: $bg_color url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-size: $base_font_size;
    font-family: $paragraph_font_family;
    line-height: 1.4;
    justify-content: center;
}

.site-main {
    width: 100%;
    flex: 1;
}