/* Objects
==================================
--- Footer
------------------------------ */

.site-footer {
    background: $brand_primary;
    color: $brand_secondary;
    padding: 1rem 0;
    width: 100%;
}

.site-footer a {
    color: $brand_secondary;
}