/* Elements
==================================
--- Typography
------------------------------ */

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: rem(20px);
    letter-spacing: 0.045rem;
}

p {
    letter-spacing: 0.025rem;
    text-align: center;

    @include breakpoint('medium') {
      text-align: left; 
    }
}