/* Components
==================================
--- Main Content
------------------------------ */

.main-content {
    flex: 1;
    
    @include breakpoint('medium') {
        display: flex;
        justify-content: space-around;  
        max-width: 750px;    
    }

    &__info {
        line-height: $base_line_height;
        padding: 0.5rem 1rem 2rem;
        text-align: center;

        @include breakpoint('medium') {
            order: 2;  
            padding: 2rem;
            text-align: inherit;
        }
    }

    &__image {
        flex: 1;
        position: relative;

        #slider {
            box-shadow: $box_shadow;
            position: relative;
            z-index: 2;

            @include breakpoint('medium') {
                width: 450px;
            } 
        }

        .desktop-images.owl-carousel.owl-loaded {
            display: none;
             @include breakpoint('medium') {
                display: block;
             }
        }

        .responsive-image {
            display: block;
            margin: 0 auto 1rem;
            max-width: 80%;

             @include breakpoint('medium') {
                display: none;
             }
        }

        &:after {
            @include breakpoint('medium') {
                content: '';
                background: $brand_accent_1;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: rotate(4deg); 
                width: 100%;
                z-index: 1;
            }
        }
    }
}