/* Components
==================================
--- Social Links
------------------------------ */

.social-menu {
    &__item {
        @include hide-text;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 2em;
        width: 2em;
    }
    &__item--fb {
        background-image: url(../svg/i_facebook.svg);
    }
    &__item--ig {
       background-image: url(../svg/i_instagram.svg); 
    }
    &__item--tw {
        background-image: url(../svg/i_twitter.svg);
    }
}