/* Components
==================================
--- Social Links
------------------------------ */

.social-menu {
    &__item {
        margin: 1em;
        
        a {
            @include hide-text;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            height: 2em;
            transition: all $base_transition;
            width: 2em;
        }

        a:hover {
            box-shadow: $box-shadow;
            transform: scale(1.1);
        }
    }
    &__item--fb a {
        background-image: url(../svg/i_facebook.svg);
    }
    &__item--ig a {
       background-image: url(../svg/i_instagram.svg); 
    }
    &__item--tw a {
        background-image: url(../svg/i_twitter.svg);
    }
}