// Settings
// ==================================
// --- Global
// ----------------------------------

// Layout Settings
// ----------------------------------

	// Media Queries
	// ----------------------------------
	$phone: 480px;
	$tablet: 800px;						
	$desktop: 1200px;						

	$container_min_width: $phone;
	$container_max_width: 1200px;


// Border Radius
// ----------------------------------
$border_radius: 3px;					// set to 0 for none


// Forms Settings
// ----------------------------------

	$form_margin: 0 0 16px;

	$input_focus_border_color: $brand_tertiary;
	$input_focus_border_width: 2px;
	$input_focus_background: lighten($brand_tertiary, 35%);



// Buttons Settings
// ----------------------------------

	$button_padding: 10px 20px;
	$button_background: $brand_secondary;
	$button_text_color: $brand_primary;



// Table Settings
// ----------------------------------

	$table_cell_padding: 8px;
	$table_cell_border_width: 1px;
	$table_cell_border_style: solid;
	$table_cell_border_color: tint($brand_accent_1, 70%);


	// Header
	// ----------------------------------
	$table_header_background: $brand_primary;
	$table_header_color: #fff;


	// Zebra Stripes
	// ----------------------------------
	$table_alt_row_background: tint($brand_accent_1, 90%);


	// Footer
	// ----------------------------------
	$table_footer_background: transparent;
	$table_footer_border_width: 2px;
	$table_footer_border_style: solid;
	$table_footer_border_color: $brand_tertiary;